<h1>List of all posts</h1>

<hr>

<%= render "posts/create_form" %>

<hr>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label :content_cont, "Content containing" %>
    <%= f.text_field :content_cont, :placeholder => "Enter a few characters", :class => "form-control" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/posts">Clear filters</a>
<% end %>

<hr>

<%= render "posts/table" %>
